<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid-pagina">
            <section id="welcome">
                <h2>WELCOME</h2>
                <div id="welcome-text">
                    <p class="intro">Thank you for visiting our site!</p>
                    <p>At Sparkle, we believe that gaming is more than just a hobby - it's a way of life. That's why we are dedicated to bringing gamers together and fostering a sense of community through our products and services. 
                    We believe that gaming should be accessible to all, regardless of skill level or background,
                    and we strive to create a welcoming and inclusive environment for all gamers.</p>
                    <br>
                    <p class="intro">Selling digital and physical game copies, <strong>since 2023</strong>.</p><!--10.c)-->
                </div>
                <figure>
                    <div id="welcome-img-container">
                        <picture class="welcome-img">
                            <source srcset="/resurse/imagini/welcome-pic-1-368x245.png" media="(max-width:479px)">
                            <source srcset="/resurse/imagini/welcome-pic-1-480x320.png" media="(max-width:639px)">
                            <img src="/resurse/imagini/welcome-pic-1-640x426.png" alt="welcome-image">
                        </picture>
                        <picture class="welcome-img">
                            <source srcset="/resurse/imagini/welcome-pic-2-368x459.png" media="(max-width:479px)">
                            <source srcset="/resurse/imagini/welcome-pic-2-480x599.png" media="(max-width:639px)">
                            <img src="/resurse/imagini/welcome-pic-2-640x799.png" alt="welcome-image">
                        </picture>
                        <picture class="welcome-img">
                            <source srcset="/resurse/imagini/welcome-pic-3-368x244.png" media="(max-width:479px)">
                            <source srcset="/resurse/imagini/welcome-pic-3-480x319.png" media="(max-width:639px)">
                            <img src="/resurse/imagini/welcome-pic-3-640x426.png" alt="welcome-image">
                        </picture>
                    </div>
                    <figcaption>EXPERIENCE SPARKLE</figcaption>
                </figure>
            </section>
            <section id="tabel">
                <h2>Physical stores schedule</h2>
                    <table id="schedule">
                        <caption>Can't wait to see you!</caption>
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Morning interval</th>
                                <th>Lunch break</th>
                                <th>Evening interval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td>8-12</td>
                                <td>12-14</td>
                                <td>14-20</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-22</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-22</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-18</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td colspan="3">Closed, our employees need rest too :)</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">Major holidays will affect our schedule.<br>Don't forget, we are always available online!</td>
                            </tr>
                            
                        </tfoot>
                    </table> 
            </section>
            <section id="news">
                <h2>NEWS</h2>
                <section id = "latest-releases">
                    <h3>Latest Releases</h3>
                    <ul>
                        <li>
                            <div class="latest-releases-game">
                                <br>
                                <a href="game7buy"><strong>Game 7</strong></a> 
                                <br><br>
                                <!-- <img src = "/resurse/imagini/products_pics/imagine1.png" alt="game7" class="news-img"> -->
                                <p><strong>What is it about:</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam commodo lacus at viverra.</p>
                                <p><strong>Publisher:</strong> Lorem Ipsum SRL</p>
                                <p><strong>Genre:</strong> Lorem</p>
                            </div>
                        </li>
                        <li>
                            <div class="latest-releases-game">
                                <br>
                                <a href="game8buy"><strong>Game 8</strong></a> 
                                <br><br>
                                <!-- <img src = "/resurse/imagini/products_pics/imagine1.png" alt="game8" class="news-img"> -->
                                <p><strong>What is it about:</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam commodo lacus at viverra.</p>
                                <p><strong>Publisher:</strong> Lorem Ipsum SRL</p>
                                <p><strong>Genre:</strong> Lorem</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="upcoming-games">
                    <h3>Upcoming games</h3>
                    <ul>
                        <li>
                            <div class="upcoming-games-game">
                                <br>
                                <a href="game9buy"><strong>Game 9</strong></a> 
                                <br><br>
                                <!-- <img src = "/resurse/imagini/products_pics/imagine1.png" alt="game9" class="news-img"> -->
                                <p><strong>What is it about:</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam commodo lacus at viverra.</p>
                                <p><strong>Publisher:</strong> Lorem Ipsum SRL</p>
                                <p><strong>Genre:</strong> Lorem</p>
                            </div>
                        </li>
                        <li>
                            <div class="upcoming-games-game">
                                <br>
                                <a href="game10buy"><strong>Game 10</strong></a> 
                                <br><br>
                                <!-- <img src = "/resurse/imagini/products_pics/imagine1.png" alt="game10" class="news-img"> -->
                                <p><strong>What is it about:</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam commodo lacus at viverra.</p>
                                <p><strong>Publisher:</strong> Lorem Ipsum SRL</p>
                                <p><strong>Genre:</strong> Lorem</p>
                        </div>
                        </li>
                    </ul>
                </section>
            </section>
            <section id="event-calendar">
                <h2>event-calendar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique rutrum erat blandit molestie. Quisque at diam eget odio accumsan sodales. Curabitur a varius dui, in dignissim nulla. Donec eu metus vulputate, molestie purus nec, rhoncus nisl. Praesent sit amet lacus eget sem tempus pharetra. Morbi nec odio iaculis, maximus ante quis, tempus lectus. </p>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br><br><br><br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                
            </section>
            <section id="online-users">
                <h2>online-users</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique rutrum erat blandit molestie. Quisque at diam eget odio accumsan sodales. Curabitur a varius dui, in dignissim nulla. Donec eu metus vulputate, molestie purus nec, rhoncus nisl. Praesent sit amet lacus eget sem tempus pharetra. Morbi nec odio iaculis, maximus ante quis, tempus lectus. </p>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br><br><br><br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                
            </section>
            <section id="announcements">
                <h2>announcements</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique rutrum erat blandit molestie. Quisque at diam eget odio accumsan sodales. Curabitur a varius dui, in dignissim nulla. Donec eu metus vulputate, molestie purus nec, rhoncus nisl. Praesent sit amet lacus eget sem tempus pharetra. Morbi nec odio iaculis, maximus ante quis, tempus lectus. </p>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br><br><br><br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
                <br>
                <p>Curabitur sagittis eros eget risus tempor eleifend. Phasellus vitae ligula elementum, imperdiet tellus eu, consectetur est. Integer eros dolor, ultricies sit amet blandit ac, tristique quis magna. Praesent vel euismod leo, nec vulputate nunc. Phasellus vitae hendrerit velit, commodo sollicitudin augue. Aenean eget magna mauris. Maecenas in urna id mauris viverra luctus. Nunc ornare lacus ut sem aliquam egestas. Donec vitae interdum felis. Etiam ac rhoncus turpis. </p>
            </section>
            <section id="user-stats">
                <h2>user-stats</h2>
                <p>Your IP is: <%- locals.ip %></p>
                <p>PS: I did not steal it from you, its your public IP, nothing secret about it :).</p>
                <div id="last-seen-product" style="margin-top: 2em;">
                    
                </div>
            </section>
            <section id="site-stats">
                <h2>site-stats</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar fringilla odio, ut rutrum quam eleifend ullamcorper. Nullam et vulputate lorem. Duis condimentum, erat ac efficitur ultricies, urna metus bibendum velit, quis sagittis urna eros vitae eros. Proin vitae hendrerit dui. Curabitur finibus nisi ac dolor elementum mattis. Quisque molestie elit sed libero pharetra ultrices. Donec rhoncus elit vel pulvinar sodales. Vestibulum ac cursus massa. Donec consequat tempus quam, non bibendum lacus ultricies nec. Nunc tempor a erat ac egestas. Nam non orci efficitur, tincidunt nunc quis, molestie ante. Ut convallis enim eget porttitor lobortis. Vivamus maximus tincidunt posuere. Cras accumsan ut odio a eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    
                    Sed maximus eros eu lectus aliquet, venenatis tristique tortor scelerisque. Maecenas dui tellus, convallis at ligula in, euismod cursus augue. Phasellus quis magna eu ex semper laoreet in sed ipsum. Phasellus eget lectus bibendum, fermentum ante at, ultrices arcu. Duis purus mauris, suscipit ut viverra non, ultrices quis metus. Nam porttitor tortor arcu, id placerat lorem vestibulum euismod. Duis sed egestas orci. Etiam et ex eget mi imperdiet tincidunt nec vel urna. Aliquam quis mi non magna vestibulum vestibulum. Donec vehicula sollicitudin mauris nec posuere. Nunc sollicitudin magna nisi, vel aliquet nisi tincidunt ac. Fusce condimentum varius interdum. Nullam et ullamcorper lacus.
                    
                    Vivamus est odio, facilisis quis maximus quis, euismod eget diam. Suspendisse id tincidunt dui. Vestibulum ultricies, eros at sodales eleifend, dolor massa tristique arcu, vel maximus justo mi a sapien. Aenean pharetra congue ligula, et congue elit malesuada ac. Donec pellentesque magna vel justo bibendum, id posuere felis accumsan. Suspendisse arcu nisi, pharetra a nisl sed, tristique congue nibh. Quisque ultricies purus ex, in tristique quam tincidunt eget. Maecenas pharetra mi nec velit aliquet mattis vitae id neque. Donec a purus ac orci sodales gravida. Vivamus ac felis nisl. Fusce faucibus lacus nec porta viverra. Vivamus dapibus fermentum suscipit. Donec quis faucibus lectus, at fringilla augue.
                    
                    In vehicula nisl a lectus ullamcorper suscipit. Nunc tincidunt non diam non sollicitudin. Donec nunc quam, tincidunt quis lorem ac, dictum porta orci. Sed scelerisque, justo at vestibulum facilisis, urna tortor imperdiet massa, sed scelerisque nisi est ut augue. Sed eget imperdiet augue, et pretium purus. Pellentesque efficitur bibendum vulputate. Donec posuere, diam tristique iaculis laoreet, nibh velit volutpat arcu, eu aliquam quam ex id neque. Ut bibendum massa consectetur, consectetur turpis a, egestas lacus. Maecenas porta cursus ex nec dictum. Nulla efficitur urna id felis scelerisque, quis imperdiet erat convallis. Aenean viverra, eros eu dapibus facilisis, metus velit pretium libero, quis sagittis quam neque in est. Nunc vitae diam eu ipsum volutpat ultricies. In commodo vestibulum leo, id lobortis lectus commodo id.
                    
                    Vestibulum in nisi vitae ante tincidunt malesuada maximus nec erat. Etiam dolor lectus, finibus dictum purus sit amet, molestie dapibus dolor. Etiam consectetur blandit eleifend. Quisque suscipit ipsum vel ipsum cursus laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque dapibus nibh sed fermentum convallis. Donec urna leo, porta sit amet volutpat ut, imperdiet et velit. Integer volutpat efficitur magna, non auctor enim egestas sed. Donec eleifend bibendum vehicula. </p>
            </section>
            <!-- <%- //include("../fragmente/static_gallery.ejs") %> -->
        </div>
            <!-- <section id="game-trailers">
                <h2>Popular video game trailers</h2>
                <p>Watch these videos to get a sense of what you might experience:</p>
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <span><a href="https://www.youtube.com/embed/F63h3v9QV7w" target="ifr-video" class="taburi-iframe">RDR2</a></span>
                        <span><a href="https://www.youtube.com/embed/r72GP1PIZa0" target="ifr-video" class="taburi-iframe">COD MW2</a></span>
                        <span><a href="https://www.youtube.com/embed/N40uY51s5Z0" target="ifr-video" class="taburi-iframe">TWD - EP. 1</a></span>
                    </div>
                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/F63h3v9QV7w" allow="accelerometer; 
                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    
                </div>
            </section> -->
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>