<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>

        </head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <% if(locals.utilizator) { %>
            <div class="container mt-4">
                <h2 class="text-center">PROFILE</h2>
                <div class="text-center">
                    <% if(locals.utilizator.picture != 'null') { %>
                        <img src="../../resurse/<%-locals.utilizator.picture%>" class="img-thumbnail rounded mx-auto d-block">
                    <% } else { %>
                        <p class="text-muted">No picture uploaded</p>
                    <% } %>
                </div>
        
                <form id="form_inreg" method="post" class="needs-validation" action="/profil" enctype="multipart/form-data" novalidate>
                    <div class="mb-3">
                        <label for="inp-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="inp-username" name="username">
                    </div>
        
                    <div class="mb-3">
                        <label for="inp-lastname" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="inp-lastname" name="lastname" required pattern="^[A-Za-z]{1,100}$">
                    </div>
        
                    <div class="mb-3">
                        <label for="inp-firstname" class="form-label">First name</label>
                        <input type="text" class="form-control" id="inp-firstname" name="firstname" required pattern="^[A-Za-z]{1,100}$">
                    </div>
        
                    <div class="mb-3">
                        <label for="parl" class="form-label">Password</label>
                        <input type="password" class="form-control" id="parl" name="password" required>
                    </div>
        
                    <div class="mb-3">
                        <label for="nparl" class="form-label">New password</label>
                        <input type="password" class="form-control" id="nparl" name="newpassword">
                    </div>
        
                    <div class="mb-3">
                        <label for="nrparl" class="form-label">Retype new password</label>
                        <input type="password" class="form-control" id="nrparl" name="retypednewpassword">
                    </div>
        
                    <div class="mb-3">
                        <label for="inp-email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inp-email" name="email" required pattern="^[A-Za-z0-9#_.-]+@[A-Za-z0-9-]+\.com$">
                    </div>
        
                    <div class="mb-3">
                        <label for="inp-tel" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="inp-tel" name="tel" pattern="^[+]?0[0-9]{10,20}$">
                    </div>
        
                    <div class="mb-3">
                        <label for="sel-culoare" class="form-label">Chat color</label>
                        <select class="form-select" id="sel-culoare" name="culoare_chat">
                            <option value="red" selected>red</option>
                            <option value="green">green</option>
                            <option value="blue">blue</option>
                        </select>
                    </div>
        
                    <div class="mb-3">
                        <label for="picture" class="form-label">Picture</label>
                        <input class="form-control" type="file" id="picture" name="picture">
                    </div>
        
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
                <div class="mb-3">
                    <button class="btn btn-danger" id="deleteaccountbutton">Delete account</button>
                </div>
            </div>
            
    
        
        <% } else { %>
            <p>You are not logged in!</p>
            <% } %>
            <p><%- locals.mesaj %></p>
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
    <script src="/resurse/js/deleteaccount.js"></script>
    <% if(locals.utilizator) {%>

        <script>
            window.addEventListener("DOMContentLoaded", () => {
                document.getElementById("inp-username").value = "<%- locals.utilizator.username %>";
                document.getElementById("inp-username").readOnly = true;
                document.getElementById("inp-lastname").value = "<%- locals.utilizator.lastname %>";
                document.getElementById("inp-firstname").value = "<%- locals.utilizator.firstname %>";
                document.getElementById("inp-email").value = "<%- locals.utilizator.email %>";
                document.getElementById("inp-tel").value = "<%- locals.utilizator.phone %>";
                console.log("<%- locals.utilizator.chat_color %>");
                document.getElementById("sel-culoare").value = "<%-locals.utilizator.chat_color %>";
            })
        </script>     <% } %>
</body>
</html>