<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <section id="store">
        <!-- <h2 class="header-store">Store</h2> -->

        <section id="filters">
            <h3>Filters:</h3>
            <label> Search product:
                <input id="i_text" type="text" placeholder="Product's name">
            </label>
            <label for="i_range"> Max price:
                <input id="i_range" type="range" min="0" max="1000" step="1" value="10">
            </label>
            <label>Datalist:
                <input list="id_lista" id="i_datalist">
                <datalist id="id_lista">
                    <option value="data1">Datalist 1</option>
                    <option value="data2">Datalist 2</option>
                    <option value="data3">Datalist 3</option>
                    <option value="abc1">Abc 1</option>
                    <option value="abc2">Abc 2</option>
                </datalist>
            </label>
            <div>
                <label>Rad1
                    <input id="i_rad1" checked name="gr_rad" value="1" type="radio"/>
                </label>
                <label>Rad2
                    <input id="i_rad2" name="gr_rad" value="2" type="radio"/>
                </label>
                <label>Rad3
                    <input id="i_rad3" name="gr_rad" value="3" type="radio"/>
                </label>
            </div>
            <label>Checkbox1 (Initial bifat)
                <input id="i_check1" name="gr_chck" checked value="10" type="checkbox"/>
            </label>
            
            <label>Checkbox2 (Initial nebifat)
                <input id="i_check2" name="gr_chck" value="20" type="checkbox"/>
            </label>
        
            <label>Checkbox3 (Initial bifat)
                <input id="i_check3" name="gr_chck" checked value="30" type="checkbox"/>
            </label>
            <label>Textarea:
                <textarea id="i_textarea">ceva in textarea</textarea>
            </label>
            <label>Select simplu:
                <select id="i_sel_simplu">
                    <option value="1">opt1</option>
                    <option value="2" selected>opt2</option>
                    <option value="3" >opt3</option>
                    <option value="4">opt4</option>
                    <option value="5">opt5</option>
                </select>
            </label>
            <label>Select multiplu:
                <select id="i_sel_multiplu" multiple size="4">
                    <option value="zahar">zahar</option>
                    <option value="2" selected>opt2</option>
                    <option value="3">opt3</option>
                    <option value="4" selected>opt4</option>
                    <option value="5">opt5</option>
                </select>
            </label>
        </section>

        <div class="grid-store">
            <% for(let prod of locals.products){ 
                      %>
            <article class="product">
                <a href="/product/<%- prod.product_id %>"><span class="name"><%- prod.name%></span></a>
                <div class="info-produse">
                    <p class="price">Price: <span class="val-price">
                        <% if (prod.price != 0) {%>
                        <%- prod.price %>
                        <% } else { %>
                            FREE <% } %>
                        </span></p>
                    <p class="category">Category: <span class="val-category"><%- prod.category %></span></p>
                    <p class="genres">Genres: <span class="val-genres"><%- prod.genres %></span></p>
                </div>
                <figure> 
                    <a href="/product/<%- prod.product_id %>"> 
                       <% if(prod.image === null) {
                        let imgName = "imageNull.png"; %>
                        <img src="/resurse/imagini/products_pics/<%- imgName%>" alt="product-image">
                        <% } else { %>
                        <img src="/resurse/imagini/products_pics/<%-prod.image %>" alt="product-image">
                        <% } %>
                        </a>
                </figure>
            </article> <% } %>
        </div>
      </section>
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>