<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <section id="store">
        <!-- <h2 class="header-store">Store</h2> -->
        <section id="filters">
            <h3>Filters:</h3> 
            <button id="showhidefilters" onclick="toggleFilters()">Show/Hide Filters</button>
            <label> Search:
                <input id="i_text" type="text" placeholder="Product's name">
            </label>
            <label for="i_range"> Max price: <%-locals.optiuniFiltre.pretMinim%>
                <input id="i_range" type="range" min="<%-locals.optiuniFiltre.pretMinim%>" max="<%-locals.optiuniFiltre.pretMaxim+1 %>" step="1" value="0">
                <%-locals.optiuniFiltre.pretMaxim+1%><span id="infoRange"> (0)</span></label>
            <label>Publishers:
                <input list="id_lista" id="i_datalist">
                <datalist id="id_lista">
                    <% for(let publisher of locals.optiuniFiltre["publishers"]) {  %>
                        <option value="<%-publisher.publisher%>"><%-publisher.publisher%></option>
                        <% } %>
                </datalist>
            </label>
            <div id="copies"> Physical copies:
                <%let i = 0; for(let valabil of locals.optiuniFiltre["fizic"]) { %>
                <label><% if(valabil.valabil){ %> Available <%} else { %> Only digital <% } %>
                    <input id="i_rad<%-i %>" checked name="gr_rad" value="<%-valabil.valabil%>" type="radio"/>
                </label>
                <% i++;} %>
            </div>
           <div id="platforms" >Platforms:
            <label>All
                <input id="allplatforms" name="gr_chck_platforms" value="all" type="checkbox" onchange="uncheckPlatforms()" checked>
            </label>
            <%  i = 0; for(let platform of locals.optiuniFiltre["platforms"]) {%>
                <label><%- platform.platform %>
                    <input id="platform<%- i %>" name="gr_chck_platforms" value="<%-platform.platform%>" type="checkbox"/>
                </label>
                <% i++;} %>
           </div>
            <label>Description:
                <textarea id="i_textarea" style="width: 581px; height: 32px;" placeholder="Enter keywords separated by comma, like this: shooter, time-travel, warfare"></textarea>
            </label>
            <label>Age restriction:
                <select id="i_sel_simplu">
                    <option value="0">All</option>
                    <% i = 0; for(let restrictie of locals.optiuniFiltre["restrictions"]) { %>
                    <option value="<%-restrictie.restrictie%>"><%-restrictie.restrictie%></option> <% i++;} %>
                </select>
            </label>
            <label>Genres:
                <select id="i_sel_multiplu" multiple size="8">
                    <option value="all">Anything</option>
                    <% i = 0; for(let genre of locals.optiuniFiltre["genres"]) { %>
                        <option value="<%-genre.genre%>"><%-genre.genre%></option> <% i++;} %>
                </select>
            </label>
           <div id="butoate-filtre">
            <button id="buton-filtrare">Show products</button>
            <button id="buton-resetare">Reset filters</button>
            <button id="buton-sortare-crescator">Sort ascending by price and name</button>
            <button id="buton-sortare-descrescator">Sort descending by price and name</button>
           </div>
           <p id="p-suma">Apasati Alt+"c" pentru suma preturilor produselor afisate</p>
        </section>
        <script src="../../resurse/js/store.js"></script>
        <div id="pagini">
        </div>
        <div class="grid-store">
            <% for(let prod of locals.products){ 
                      %>
            <article id = "product<%- prod.product_id %>" class="product">
                <a href="/product/<%- prod.product_id %>"><span class="val-name"><%- prod.name%></span></a>
                <div class="info-produse">
                    <p class="price">Price: <span class="val-price">
                        <%- prod.price %>
                        </span></p>
                    <p class="category">Category: <span class="val-category"><%- prod.category %></span></p>
                    <p class="publisher" style="display: none">Publisher: <span class="val-publisher"><%- prod.publisher %></span></p>
                    <p class="copies" style="display: none">Copies: <span class="val-copies"><%- prod.physical_copies %></span></p>
                    <p class="platforms" style="display: none">Platforms: <span class="val-platforms"><%- prod.platform %></span></p>
                    <p class="genres">Genres: <span class="val-genres"><%- prod.genres %></span></p>
                    <p class="age-restriction" style="display: none">PEGI: <span class="val-age-restriction"><%- prod.age_restriction %></span></p>
                    <p class="description" style="display: none">Description: <span class="val-description"><%- prod.description %></span></p>
                </div>
                <figure> 
                    <a href="/product/<%- prod.product_id %>"> 
                       <% if(prod.image === null) {
                        let imgName = "imageNull.png"; %>
                        <img src="/resurse/imagini/products_pics/<%- imgName%>" alt="product-image">
                        <% } else { %>
                        <img src="/resurse/imagini/products_pics/<%-prod.image %>" alt="product-image">
                        <% } %>
                        </a>
                </figure>
            </article> <% } %>
        </div>
       
      </section>
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>